/*1300132006,169776067*/

.sp_13hzxm{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/zH/r/g6uRI8JGTJs.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_b55017{width:50px;height:50px;background-position:-0px -0px}
.sx_b2e2f4{width:15px;background-position:-0px -68px}
.sx_7033ff{background-position:-0px -51px}
.sx_81cbf4{background-position:-17px -51px}
.sx_4c4331{background-position:-34px -51px}
.sp_16l9lq{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/zr/r/o4K1o6H2_S3.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_3221eb{background-position:-0px -0px}
.sx_bc1aa0{background-position:-0px -17px}
.sp_3mzc0s{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/ze/r/tgCjNDQG0qU.png);background-repeat:no-repeat;display:inline-block;height:14px;width:11px}
.sx_1579c2{background-position:-11px -15px}
.selected .sx_1579c2{background-position:-0px -15px}
.sx_12eae7{height:12px;background-position:-0px -65px}
.sx_be06cd{width:12px;background-position:-12px -0px}
.selected .sx_be06cd{background-position:-0px -0px}
.sx_315ee9{width:10px;height:9px;background-position:-12px -65px}
.sx_c100b8{width:15px;height:15px;background-position:-0px -49px}
.sx_12f969{width:18px;height:18px;background-position:-0px -30px}
.sp_41iqr3{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/z6/r/2K6rmgiENio.png);background-repeat:no-repeat;display:inline-block;height:14px;width:16px}
.sx_a9d50a{width:5px;background-position:-5px -64px}
.selected .sx_a9d50a{background-position:-0px -64px}
.sx_899b3c{height:16px;background-position:-0px -30px}
.sx_f8ca1b{height:16px;background-position:-0px -47px}
.sx_bdcf65{width:11px;background-position:-11px -0px}
.selected .sx_bdcf65{background-position:-0px -0px}
.sx_cfd1a8{width:9px;background-position:-9px -15px}
.selected .sx_cfd1a8{background-position:-0px -15px}
.sp_4lqaeu{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/zJ/r/iccIn6tkzwF.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_6b4228{background-position:-0px -0px}
.sx_520c4b{background-position:-0px -17px}
.sx_26dc9e{height:14px;background-position:-0px -68px}
.sx_2115d3{background-position:-0px -34px}
.sx_32008a{background-position:-0px -51px}
.sp_5eizdn{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/zp/r/0JCitpxWoF5.png);background-repeat:no-repeat;display:inline-block;height:10px;width:10px}
.sx_7bedb4{background-position:-0px -18px}
.sx_09dfe5{width:16px;height:17px;background-position:-0px -0px}
.sp_7cgixs{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/zn/r/p8BoqGddME7.png);background-repeat:no-repeat;display:inline-block;height:14px;width:8px}
.sx_5174c3{background-position:-8px -93px}
.selected .sx_5174c3{background-position:-0px -93px}
.sx_b4822b{background-position:-25px -93px}
.selected .sx_b4822b{background-position:-17px -93px}
.sx_c2e31c{width:31px;height:16px;background-position:-0px -76px}
.sx_427f28{width:31px;height:16px;background-position:-32px -76px}
.sx_d0f051{width:75px;height:75px;background-position:-0px -0px}
.sp_8a7upt{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/z2/r/RI99MX2PBuk.png);background-repeat:no-repeat;display:inline-block;height:13px;width:16px}
.sx_f98288{height:16px;background-position:-0px -45px}
.sx_76270c{width:13px;height:14px;background-position:-13px -0px}
.selected .sx_76270c{background-position:-0px -0px}
.sx_ef2481{width:11px;height:14px;background-position:-11px -30px}
.selected .sx_ef2481{background-position:-0px -30px}
.sx_41f612{height:16px;background-position:-0px -62px}
.sx_2a59c8{width:12px;height:14px;background-position:-12px -15px}
.selected .sx_2a59c8{background-position:-0px -15px}
.sx_6a76d9{width:9px;background-position:-17px -45px}
.sx_f3c867{height:16px;background-position:-0px -79px}
.sx_ffa3b1{height:16px;background-position:-0px -96px}
.sx_c781d6{width:11px;background-position:-0px -130px}
.sx_ff1b6f{width:8px;background-position:-17px -87px}
.sx_948363{width:9px;background-position:-17px -59px}
.sx_8ae318{height:16px;background-position:-0px -113px}
.sx_f5438c{width:5px;height:3px;background-position:-17px -101px}
.sx_3ebfb6{width:9px;background-position:-17px -73px}
.sp_8qvs51{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/za/r/1rxXwjPNnMu.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_571227{background-position:-0px -0px}
.sx_f29f53{height:15px;background-position:-0px -34px}
.sx_52c23f{width:13px;background-position:-0px -50px}
.sx_abe11b{background-position:-0px -17px}
.sp_92gwsv{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/zG/r/0k3vxbkHICT.png);background-repeat:no-repeat;display:inline-block;height:13px;width:10px}
.sx_57b486{height:14px;background-position:-10px -19px}
.selected .sx_57b486{background-position:-0px -19px}
.sx_26cc00{width:18px;height:18px;background-position:-18px -0px}
.sx_26cc00:hover{background-position:-0px -0px}
.sx_9d8ac4{width:9px;background-position:-0px -34px}
.sx_a3264f{width:11px;background-position:-21px -19px}
.sx_80c747{width:8px;background-position:-10px -34px}
.sp_a6qw52{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/z7/r/8nlf7v9ryL-.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_0f7142{width:7px;height:7px;background-position:-19px -38px}
.sx_8dfb03{width:20px;height:20px;background-position:-0px -17px}
.sx_55d6a4{width:9px;height:12px;background-position:-9px -38px}
.selected .sx_55d6a4{background-position:-0px -38px}
.sx_249078{background-position:-0px -51px}
.sx_02fd57{width:5px;height:3px;background-position:-21px -31px}
.sx_4fa608{background-position:-0px -68px}
.sx_503fe0{width:9px;height:13px;background-position:-21px -17px}
.sx_79f0c5{background-position:-16px -0px}
.selected .sx_79f0c5{background-position:-0px -0px}
.sp_bhj0aj{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/ze/r/vCfjjxyRREJ.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_e3d381{height:14px;background-position:-0px -51px}
.sx_68eee0{background-position:-0px -0px}
.sx_332bda{background-position:-0px -17px}
.sx_1a05ed{background-position:-0px -34px}
.sp_bth3r7{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/zb/r/uf3yIMOzGlm.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_f3d73a{background-position:-0px -49px}
.sx_ab5260{background-position:-16px -0px}
.selected .sx_ab5260{background-position:-0px -0px}
.sx_9389b1{width:10px;height:14px;background-position:-10px -34px}
.selected .sx_9389b1{background-position:-0px -34px}
.sx_fab3ce{background-position:-16px -17px}
.selected .sx_fab3ce{background-position:-0px -17px}
.sx_a90c6c{width:15px;height:8px;background-position:-17px -49px}
.sx_1af9a3{width:10px;height:13px;background-position:-21px -34px}
.sx_41a0cb{width:9px;height:13px;background-position:-0px -66px}
.sp_cwqcqa{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/zb/r/uxjPUN3OLVy.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_036e90{background-position:-55px -91px}
.sx_96e0bd{width:17px;height:17px;background-position:-37px -91px}
.sx_72ab0f{width:190px;height:90px;background-position:-0px -0px}
.sx_68ca65{width:18px;height:18px;background-position:-18px -91px}
.sx_68ca65:hover{background-position:-0px -91px}
.sx_483e76{width:12px;height:11px;background-position:-88px -91px}
.sx_98f278{width:15px;height:13px;background-position:-72px -91px}
.sx_99ba24{width:11px;height:9px;background-position:-101px -91px}
.sp_dcyxde{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/zE/r/NhRA6MrmCwg.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_b590c2{background-position:-0px -36px}
.sx_5c9b76{height:17px;background-position:-0px -0px}
.sx_3697d4{background-position:-0px -53px}
.sx_e17e10{width:9px;height:5px;background-position:-0px -70px}
.sx_a570cc{height:17px;background-position:-0px -18px}
.sp_dra1ca{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/z3/r/Rm30TvKe2SI.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_d48cdd{background-position:-17px -51px}
.sx_162885{height:18px;background-position:-0px -51px}
.sx_40f583{height:15px;background-position:-0px -70px}
.sx_1463ec{background-position:-34px -51px}
.sx_393e4e{width:50px;height:50px;background-position:-0px -0px}

#bootloader_u6oxj { height: 42px; }